{
  "extends": ["stylelint-config-recommended", "stylelint-config-styled-components", "stylelint-config-concentric-order", "stylelint-config-standard", "stylelint-config-prettier"],
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "customSyntax": "@stylelint/postcss-css-in-js",
      "rules": {
        "color-hex-case": "lower",
        "at-rule-no-unknown": null,
        "font-family-no-missing-generic-family-keyword":null,
        "function-no-unknown": [true, { "ignoreFunctions": ["/\\${/"] }],
        "value-keyword-case" : null
      }
    }
  ]
}
