* {
  box-sizing: border-box;
  color: #2e2e2e;
  font-family: Maplestory, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

@font-face {
  font-family: 'Maplestory';
  src: url('../../public/fonts/MaplestoryLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maplestory';
  src: url('../../public/fonts/MaplestoryBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
